<!-- views/signup.ejs -->
<!doctype html>
<html lang="en">
	<head>
		<title><%= settings.coinName %> - Change Password</title>
		<% include partials/meta %>
	</head>
	<body role="document" class="intro">
		<div id='wrapper'>
			<div id='page-content-wrapper'>
				<div id="main" class="container" role="main">
					<div class="well">
						<div style="background: url('images/Icon.png') no-repeat center; margin-top: 50px; height: 128px;"><span></span></div>
						<h1 class="text-primary"><span class="fa fa-sign-in"></span> <%= settings.coinName %> - Change Password</h1>
						<% if (user.local.changeme) { %><h2 align=center>Required</h2><% } %>
						<!-- show any messages that come back with authentication -->
						<% if (message.length > 0) { %>
							<div class="alert alert-danger"><%= message %></div>
						<% } %>
						<!-- PASSWORD FORM -->
						<form class="form-horizontal" role="form" action="password" method="post">
							<div class="form-group">
								<label class="control-label col-sm-2" for="email">Account</label>
								<div class="col-sm-10">
									<input class="form-control" type="text" name="email" value=<%=user.local.id%>>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="password">Old Password</label>
								<div class="col-sm-10">
									<input class="form-control" type="password" name="password">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="passwordNew">New Password</label>
								<div class="col-sm-10">
									<input class="form-control" type="password" name="passwordNew">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="passwordNewRepeat">Repeat Password</label>
								<div class="col-sm-10">
									<input class="form-control" type="password" name="passwordNewRepeat">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button class="btn btn-primary btn-lg" type="submit">Change</button>
								</div>
							</div>
						</form>
						<div class="form-group">
							<hr>
							<p>Or, go back to the <a href="<%= settings.chRoot %>/">Home</a> page.</p>
						</div>
					</div>
				</div>
				<% include partials/footer %>
			</div>
		</div>
	</body>
</html>