<!-- views/signup.ejs -->
<!doctype html>
<html lang="en">
	<head>
		<title><%= settings.appTitle %> - Signup</title>
		<% include partials/meta %>
	</head>
	<body role="document" class="intro">
		<div id='wrapper'>
			<div id='page-content-wrapper'>
				<div id="main" class="container intro-form" role="main">
					<div class="logo" style="background: url('<%= settings.logo %>') no-repeat top;"><span></span></div>
					<div class="slogan"><%= settings.appSlogan %></div>
					<div class="description"><%= settings.appDescription %></div>
					<div class="well">
						<h1 class="text-primary"><%= settings.appTitle %> - Signup</h1>
						<!-- show any messages that come back with authentication -->
						<% if (message != '') { %>
							<div class="alert alert-danger"><%= message %></div>
						<% } %>
						<!-- LOGIN FORM -->
						<form class="form-horizontal" role="form" action="signup" method="post">
							<div class="form-group">
								<div class="col-sm-6">
									<input class="form-control" type="text" name="first_name" placeholder="Enter your first name.">
								</div>
								<div class="col-sm-6">
									<input class="form-control" type="text" name="last_name" placeholder="Enter your last name.">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" type="text" name="email" placeholder="Enter your email address for your login.">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" type="text" name="password" value="<%= pwgenerated %>" placeholder="Your generated password." readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-offset-2" for="password">Make a copy of your password above before submitting!</label>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-10 col-sm-2">
									<button class="btn btn-primary btn-lg g-recaptcha" type="submit" data-sitekey="<%= settings.recaptchaKey %>" data-callback="onSubmit" data-badge="bottomright" data-size="invisible">Next</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="footer text-with-background text-centered">
				<p>Already have an account? <a href="login">Login here</a>. Or, go back to the <a href="<%= settings.chRoot %>/">Home</a> page.</p>
			</div>
		</div>
	</body>
</html>